:root {
  --subtle-boundary: #a4c69b;
}

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue",
    "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", sans-serif;
  color: #186700;
  background-color: #dbe4d8;
  padding: 0;
  margin: 0;
  height: 100vh;
}

#nav {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 40px;
  height: 100vh;
  background-color: #eeffe8;
  border-right: 1px solid var(--subtle-boundary);
}

#nav button {
  border: none;
  background: none;
  width: 40px;
  height: 40px;
  font-size: 18px;
  color: #538180;
  cursor: pointer;
}

#nav button.active {
  background-color: rgba(0, 0, 0, 0.1);
}

#nav button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

#nav button:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.main-view {
  width: 100%;
  height: 100vh;
}

.main-view .active {
  display: block;
}

.main-view:not(.active) {
  display: none;
}

.chat-view {
  box-sizing: border-box;
  padding: 10px;
}

#chat-messages {
  display: flex;
  flex-direction: column;
  margin: 10px;
  margin-right: 30px;
}

.chat-message {
  display: flex;
  margin-bottom: 10px;
}

.chat-message.user {
  justify-content: flex-end;
}

.chat-message.assistant {
  justify-content: flex-start;
}

#search {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#search-bar {
  display: flex;
  flex-direction: row;
  font-size: 30px;
}

#search input {
  width: 100%;
  height: 40px;
  border: none;
  border-bottom: 1px solid var(--subtle-boundary);
  font-size: 18px;
  padding: 0 10px;
  box-sizing: border-box;
}

.settings-view {
  box-sizing: border-box;
  padding: 10px;
}

.settings-view > div {
  margin: 10px;
}

.settings-view input[type="text"] {
  display: block;
  width: 400px;
}

#content {
  width: 100%;
  height: 100%;
}

#search-results {
  position: relative;
  display: flex;
  height: 100%;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}

.chitchat {
  display: flex;
  flex-direction: row;
  padding: 8px;
  position: relative;
  border-bottom: 1px solid var(--subtle-boundary);
}

.chitchat-info {
  margin-right: 10px;
}

.chitchat-buttons {
  flex-grow: 1;
  text-align: right;
}

.chitchat .mnemonic {
  font-weight: bold;
}

.chitchat-description {
  padding: 5px 0 8px;
  font-size: 12px;
}

.chitchat button {
  border: none;
  background: none;
}

.chitchat:first-child {
  background-color: #a5e1d3;
}

.output {
  position: absolute;
  background: rgb(255, 255, 255);
  color: rgb(61, 61, 61);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 5px;
  white-space: pre-wrap;
  max-width: 80vw;
  max-height: calc(100vh - 10px);
  overflow-y: auto;
}

.output select {
  padding: 5px;
  min-width: 100%;
  max-width: 70vw;
  font-size: 18px;
  border-radius: 10px;
  overflow: auto;
}

.output select option {
  padding: 5px;
  font-size: 18px;
  border-radius: 10px;
}

.output-screen {
  display: block;
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
}

/* The .loading-overlay class is a full screen overlay that animates a gradient
cycling over the entire window */

.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  mix-blend-mode: screen;
  background: linear-gradient(
    90deg,
    rgba(255, 196, 0, 1),
    rgba(0, 0, 0, 1),
    rgba(255, 196, 0, 1)
  );
  background-repeat: repeat-x;
  /* Smooth animation as defined below */
  animation: loading 1s infinite linear;
}

@keyframes loading {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 100vw 0;
  }
}

.chitchat-editor {
  position: absolute;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background: #fafafa;
  padding: 10px;
  width: 500px;
  height: 90vh;
  top: 5vh;
  left: calc(50vw - 250px);
  overflow-y: auto;
  box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.5);
}

.chitchat-editor > div {
  margin: 5px;
  margin-bottom: 20px;
  flex-grow: 0;
}

.chitchat-editor > div.one-field {
  display: flex;
  flex-direction: row;
}

.chitchat-editor > div.one-field > input {
  flex-grow: 1;
  margin-left: 5px;
}

.description-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.description-container > p {
  font-size: 12px;
}

.chitchat-editor textarea {
  width: 100%;
  min-height: 200px;
  margin-bottom: 10px;
}

.chitchat-buttons button {
  color: #68957c;
  font-size: 22px;
  line-height: 44px;
  cursor: pointer;
}

.chitchat-buttons button:hover {
  color: #83cfce;
}

#calc {
  display: flex;
  position: relative;
  flex-direction: column;
  position: relative;
  height: 100%;
}

#calc-input {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue",
  "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", sans-serif;
  box-sizing: border-box;
  font-size: 18px;
  height: 120px;
  padding: 0 10px;
  width: 100%;
  padding: 10px;
  flex-grow: 0;
}

#calc-result {
  box-sizing: border-box;
  min-height: 40px;
  margin: 4px;
  padding: 10px;
  border-radius: 10px;
  background-color:#eeffff;
  color:rgb(61, 61, 61);
  white-space: pre-wrap;
  flex-grow: 1;
  font-size: 18pt;
}

#calc-result.error {
  background-color: #ffcccc;
  color: #af0000;
}

.model-switch-label {
  height: 80px;
  width: 40px;
  border-radius: 40px;
  background-color: #517743;
  opacity: 20%;
  transition: opacity 0.2s ease;
}


.model-switch-label:hover {
  opacity: 100%;
}

.model-switch-label::before {
  content: "GPT-4";
  text-align: center;
  font-size: 12px;
  position: absolute;
  top: -20px;
  width: 150%;
  left: -25%;
}

.model-switch-label::after {
  content: "GPT-3.5";
  text-align: center;
  font-size: 12px;
  position: absolute;
  bottom: -20px;
  width: 150%;
  left: -25%;
}

.model-switch-label input {
  position: absolute;
  height: 0;
  width: 0;
  opacity: 0;
}


.model-switch-label .model-switch {
  position: absolute;
  top: calc(80px - 36px);
  left: 4px;
  width: 32px;
  height: 32px;
  border-radius: 16px;
  background-color: #fff;
  transition: top 0.2s ease;
}

.model-switch-label input:checked + .model-switch {
  top: 4px;
}


#calc .model-switch-label {
  position: absolute;
  bottom: 30px;
  right: 20px;
  cursor: pointer;
}

#calc-source {
  position: absolute;
  bottom: 30px;
  left: 20px;
  cursor: pointer;
  border-radius: 16px;
  height: 30px;
  width: 120px;
  border: none;
  background-color: #6dd09b;
  color: #395943;
  opacity: 20%;
  transition: opacity 0.2s ease;
}

#calc-source:hover {
  opacity: 100%;
}

#calc-source:active {
  background-color: #3aa66c;
  color: #395943;
}